{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="book" class="align-text-bottom"></span>
    Tracker
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/dashboard/">
    <span data-feather="clock" class="align-text-bottom"></span>
    History
  </a>
</li>
{% endblock %}

{% block content %}
<main class=" col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="row pt-3 pb-2 mb-3">
    <div class="col">
      <canvas id="caloriesChart"></canvas>
    </div>
    <div class="col">
      <canvas id="proteinChart"></canvas>
    </div>
    <div class="col">
      <canvas id="carbsChart"></canvas>
    </div>
    <div class="col">
      <canvas id="fatsChart"></canvas>
    </div>
  </div>

  <h2>Consumed Today</h2>
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Producer</th>
          <th>Amount</th>
          <th>Energy (per 100g)</th>
          <th>Protein (per 100g)</th>
          <th>Carbohydrates (per 100g)</th>
          <th>Fat (per 100g)</th>
        </tr>
      </thead>
      <tbody>
        {% for product in consumed_today %}
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.producer }}</td>
          <td>{{ product.amount }} g</td>
          <td>{{ product.energy }} kcal</td>
          <td>{{ product.protein }} g</td>
          <td>{{ product.carbs }} g</td>
          <td>{{ product.fat }} g</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-light m-1" style="width: 100%;">
        <span data-feather="plus"></span>
      </button>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script>
  ; (() => {
    'use strict'

    feather.replace({ 'aria-hidden': 'true' })

    const options = {
      scales: {
        x: {
          grid: {
            display: false
          },
          border: {
            display: false
          }
        },
        y: {
          display: false,
          grid: {
            display: false
          }
        },
      },
      plugins: {
        legend: {
          display: false,
        }
      }
    }

    const chartTemplate = {
      type: 'bar',
      options: options,
      plugins: [ChartDataLabels],
      data: {
        labels: [''],
        datasets: [
          {
            label: 'Consumed',
            data: [0],
            backgroundColor: ['rgb(255, 179, 41, 1.0)'],
          },
          {
            label: 'Target',
            data: [0],
            backgroundColor: ['rgb(255, 179, 41, 0.25)'],
          }
        ]
      }
    }

    function createChart(canvasId, label, consumed, target) {
      const chartSpec = Object.assign({}, chartTemplate)
      chartSpec.data.labels = [label]
      chartSpec.data.datasets[0].data = consumed
      chartSpec.data.datasets[1].data = target
      return new Chart(
        document.getElementById(canvasId), chartSpec
      )
    }

    const caloriesChart = createChart('caloriesChart', 'Calories [kcal]', [2200], [2500])
    const proteinChart = createChart('proteinChart', 'Protein [g]', [100], [120])
    const carbsChart = createChart('carbsChart', 'Carbs [g]', [300], [400])
    const fatsChart = createChart('fatsChart', 'Fats [g]', [150], [200])

  })()
</script>
{% endblock %}