{% extends 'base.html' %}

{% block navigation %}
<li class="nav-item">
  <a class="nav-link" aria-current="page" href="/tracker/">
    <span data-feather="book" class="align-text-bottom"></span>
    Tracker
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">
    <span data-feather="clock" class="align-text-bottom"></span>
    History
  </a>
</li>
{% endblock %}

{% block content %}
    <form method="POST" class="form-group">
	{% csrf_token %}
  {{ form }}
	<button type="submit" class="btn btn-success">Register</button>
    </form>
{% endblock %}