{% extends 'base.html' %}

{% block navigation %}
{% endblock %}

{% block content %}

<main class=" col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="pt-3 pb-2 mb-3" style="display: flex; align-items: left;">
    <div class="vstack gap-3 col-md-9" style="display: flex; align-items: center; max-width: 10em;">
      Welcome to Caloru.
      <a href="/accounts/login" class="btn btn-primary">Sign In</a>
      <a href="/accounts/register" class="btn btn-outline-primary">Sign Up</a>
    </div>
    <div class="col-md-9"></div>
  </div>
</main>

{% endblock %}
